#form{
	
	padding-left: 350px;
	padding-top:-50px;
	height: 220px;
	width: 580px;
	margin-top: 10px;
	margin-left:5px;
}
#form1{
	height:172px;
	width: 1075px;
	padding-left: 133px;
	padding-bottom:40px;
	padding-top:0px;
}
#form2{
	height:109px;
	width: 409px;
	padding-left:345px;
	padding-bottom:30px;
	margin-left: 10px;
}
