*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
     
}

nav{
    display: flex;
    background-color: #333;
    padding:-20px;
    justify-content:center;
    align-items: center; 
    width: 100%;
    position: fixed; 
}
nav a{
      text-decoration: none;
      padding: 10px;
      color: white;
      
}
.box{
    background-image: url(figure.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 50px;
     
}
.box1{
    background-image: url(fig.png);
    background-position: center;
    background-size: cover;
    height: 100vh;  
}
.box0{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}
.box10{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.box11{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.box2{
    background-image: url(serie.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.text{
    color: white;
    display: flex;
    padding: 30px;
    flex-direction: column;
}
.text1{
    color: white;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.text2{
    color:white;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.text3{
    color:white;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.text4{
    color:white;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.text5{
    color:white;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.text6{
    color:white;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.text7{
    color:white;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.text8{
    color:white;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.buton a{
    color: #2997ff;
    font-size: 19px;
    padding:0 30px;
    text-decoration: none;
    font-weight: 400;
}
.buton1 a{
    color: #2997ff;
    font-size: 19px;
    padding:0 30px;
    text-decoration: none;
    font-weight: 400;
}
.buton2 a{
    color: #2997ff;
    font-size: 19px;
    padding:0 30px;
    text-decoration: none;
    font-weight: 400;
}
.buton3 a{
    color: #2997ff;
    font-size: 19px;
    padding:0 30px;
    text-decoration: none;
    font-weight: 400;
}
.buton4 a{
    color: #2997ff;
    font-size: 19px;
    padding:0 30px;
    text-decoration: none;
    font-weight: 400;
}
.buton5 a{
    color: #2997ff;
    font-size: 19px;
    padding:0 30px;
    text-decoration: none;
    font-weight: 400;
}
.buton6 a{
    color: #2997ff;
    font-size: 19px;
    padding: 0 50px;
    text-decoration: none;
    font-weight: 400;
}
.buton7 a{
    color: #2997ff;
    font-size: 19px;
    padding: 0 50px;
    text-decoration: none;
    font-weight: 400;
}
.buton8 a{
    color: #2997ff;
    font-size: 19px;
    padding: 0 50px;
    text-decoration: none;
    font-weight: 400;
}
.iphone-box{
    align-items: center;
    display: flex;
    flex-direction: column;  
}
.iphone-box1{
    align-items: center;
    display: flex;
    flex-direction: column;  
}
.iphone-box2{
    align-items: center;
    display: flex;
    flex-direction: column;  
}
.iphone-box3{
    align-items: center;
    display: flex;
    flex-direction: column;  
}
.iphone-box4{
    align-items: center;
    display: flex;
    flex-direction: column;  
}
.iphone-box5{
    align-items: center;
    display: flex;
    flex-direction: column;  
}
.iphone-box6{
    align-items: center;
    display: flex;
    flex-direction: column;  
}
.iphone-box7{
    align-items: center;
    display: flex;
    flex-direction: column;  
}
.iphone-box8{
    align-items: center;
    display: flex;
    flex-direction: column;  
}
.text h4{
    margin:0;
    font-size: 50px
}
.text1 h2{
    margin:0;
    font-size: 50px;
    color: black;
    text-align: center;
}
.text2 h1{
    margin:0;
    font-size: 40px;
    color: white;
    text-align: center;
}
.text2 h3{
    margin:0;
    font-size: 20px;
    color: red;
    text-align: center;
    font-weight: 400;
}
.text3 h2{
    margin:0;
    color: black;
    text-align: center;
}
.text4 h3{
    margin:0;
    color: white;
    text-align: center;
}
.text5 h2{
    margin:0;
    color: white;
    text-align: center;
}
.text6 h1{
    margin:0;
    color: white;
    text-align: center;
}
.text7 h1{
    margin:0;
    color: black;
    text-align: center;
}
.text7 h6{
    margin:0;
    color: black;
    text-align: center;
}
.text8 h1{
    margin:0;
    color: white;
    text-align: center;
}
.text h6{/*je ne sais pas*/
 text-align: center;
 margin-top: 10px;
 margin-bottom: 0px;
 font-size: 25px;
 font-weight: 400;
}
.text1 h6{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 400;
    color: black;
}
.text2 h6{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 28px;
    font-weight: 400;
}
.text3 h6{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 28px;
    font-weight: 400;
    color: black;
}
.text4 h6{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
}
.text5 h6{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
}
.text6 h6{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
}
.text7 h6{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
}
.text8 h6{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
}
.ipad{
    background-image: url(ipad.png);
    margin: 5px;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.mac{
    background-image: url(mac.png);
    margin: 5px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}
.home{
    background-image: url(home.png);
    margin: 5px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}
.air{
    background-image: url(air.png);
    margin: 5px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}
.fit{
    background-image: url(fitness.png);
    margin: 5px;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.cad{
    background-image: url(cad.png);
    margin: 5px;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.image-container {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 0px;
    margin: 0;
    width: 100%;   
}
.galerie img{
    height: auto;
    max-width: 100%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 0px;
    margin: 0;
    width: 100%;
    text-align: center;  
}
.bas img{
    height: auto;
    max-width: 100%;
      
}







body{
    margin:0;
}
