*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.box{
    display: flex;
    background-color: #333;
    color: #fff;
    padding: -17px;
    justify-content:center;
    align-items: center; 
    
}
.pro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    background-color: black;
    color:#fff;
    position: relative;
    background-image: url("figure.png")
    
}
.mot,
.box1 {
    margin-right: 10px;
    font-size: 12px;
}
.tex{
    font-weight:bold;
    font-size: 30px;
}
.tel{
    font-size: 15px;
}
.text{
    margin: 15px;
    font-size: 12px;
    text-decoration: none;
    color: blue;
}
.box1 img{
    max-width: 100%;
    height: auto;
    display: block; 
}
body{
    margin:0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 5px;
    
}